* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: grey;
  overflow: hidden;
}

.country-grid {
  max-width: 1200px;
  margin: 0 3rem;
  text-decoration: none;
}
.light-mode {
  background-color: #ffffff;
  color: #000000;
  padding: 0 4rem;
  align-items: center;
}

.dark-mode {
  background-color: #000000;
  color: #ffffff;
  padding: 0 4rem;
}
.header,
.search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h4 {
  font-size: 25px;
  overflow: hidden;
  padding: 0;
}
.flag-img {
  width: 100%;
  height: 190px;
}
.single-country,
.details {
  display: flex;
  flex-direction: column;
}
.single-country {
  padding: 1rem;
  width: 255px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); */
}
.countries-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 0 auto;
  padding-top: 3rem;
}
.detailed-container {
  margin-top: 60px;
  margin-bottom: 5rem;
  margin-left: 6rem;
}
.select-country-container {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 50px;
}

.single-flag-img {
  width: 50%;
}

.single-flag-img img {
  width: 110%;
  height: 400px;
}
.single-country-details {
  margin-left: 6rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.single-country-details-list {
  height: 25%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.list-1 {
  width: 48%;
}
.list-2 {
  width: 48%;
  margin-left: 1rem;
}
.single-country-details-list li {
  margin-bottom: 0.7rem;
}
.single-country-borders {
  height: 20%;
  width: 100%;
}

input,
button,
select {
  padding: 0.4rem;
}
li {
  list-style: none;
}
button.border-btn {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.filter {
  display: flex;
  flex-direction: column;
}
